<module preload="all">
    <resources>
        <resource path="assets/icons" prefix="icons" />
        <resource path="assets/fonts" prefix="fonts" />
        <resource path="assets/data" prefix="data" />
    </resources>
    <components>
        <class package="core.dashboards" />
        <class package="components" />
        <class package="views" />
    </components>
</module>