<module preload="all">
    <resources>
        <resource path="assets/icons" prefix="icons" />
        <resource path="assets/fonts" prefix="fonts" />
        <resource path="assets/data" prefix="data" />
        <resource path="core/assets/themes" prefix="themes" />
    </resources>
    <components>
        <class package="core.components" />
        <class package="core.dashboards" />
        <class package="components" />
        <class package="views" />
    </components>

    <themes>
        <optex parent="default">
            <style resource="themes/optex/portlets.css" />
        </optex>
    </themes>
</module>