.listview {
    background-color: #24243A;
    border: 2px solid #2c2c45;
}

.listview .even {
    background-color: none;
}

.listview .even:hover {
    background-color: #2c2c45;
}

.listview .odd {
    background-color: none;
}

.listview .odd:hover {
    background-color: #2c2c45;
}

.listview .itemrenderer {
    height: auto;
    padding: 5px;
}

.listview .itemrenderer:selected {
    background-color: #333352;
    color: #cacad1;
}

.listview .itemrenderer:selected .label {
    color: #cacad1;
}
